<%= image_tag "street_view.png", class: "img-responsive", alt: "Responsive hero image" %>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "neighbors.jpg", alt: "street view thumbnail" %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "services.png", alt: "services thumbnail" %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "camera.png", alt: "street view thumbnail" %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag "i-love-my-home600.jpg", alt: "street view thumbnail" %>
    </a>
  </div>
</div>
