<div class="col-md-6 col-md-offset-3">
  <h2>My Home Profile</h2>

  <% if current_home.id == @home.id %>
    <%= link_to 'Edit', edit_registration_path(current_home) %>
  <% end %>
  <h3>Primary Contact</h3>
  
  
  <div class="row">
    <div class="col-md-6">
      <address>
        <div class="media">
          <div class="media-left">
            <%# unless @home.avatar %>
              <%= avatar 100 %>
            <%# else %>
              <!-- avatar -->
            <%# end %>
          </div>
          <div class="media-body">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong><%= @home.primary_first_name %> <%= @home.primary_last_name %></strong></br>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <%= @home.street_address %></br>
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <%= @home.primary_phone %></br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%= @home.alt_phone %></br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= mail_to @home.email %></br>
          </div>
        </div>
      </address>
    </div>
    <div class="col-md-6">
      <p>
        <%= link_to 'Link to Photos', '#' %> <small>coming soon</small>
      </p>
      <p>
        <%= link_to 'Link to Recommendations', '#' %> <small>coming soon</small>
      </p>
      <p>
        <%= link_to 'Link to Travel Notifications', '#' %> <small>coming soon</small>
      </p>
    </div>
  </div>
  <h3>Household <small>coming soon</small></h3>
  <% if current_home.id == @home.id %>
    <%= link_to 'Add household member', '#' %>
  <% end %>
  
  <h3>Pets <small>coming soon</small></h3>
  <% if current_home.id == @home.id %>
    <%= link_to 'Add pet', '#' %>
  <% end %>
  
  <% if current_home.admin? && current_home.id == @home.id %>
    <h3>User approval</h3>
    <table class="table">
      <% @homes.each do |home| %>
          <tr>
              <td><%= home.email %></td>
              <td><%= home.approved %></td>
          </tr>
      <% end %>
    </table>
  <% end %>
</div>
